/* App.css */
.filtro {
  width: 100%;
  max-width: 900px;
  height: 45px;
  /* Altura desejada */
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.filtro:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}


/* Estilo para a área de paginação */
.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* Estilo para os botões da paginação */
.page-link {
  background-color: #f2f2f2;
  border-color: #d9d9d9;
  color: #212121;
  transition: all 0.2s ease-in-out;
}

/* Estilo para os botões ativos da paginação */
.page-item.active .page-link {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  color: #212121;
}

/* Melhoria nos botões de paginação */
.page-link:hover {
  background-color: #e0e0e0;
  color: #1976d2;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(25, 118, 210, 0.5);
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
  font-size: 16px !important;
}

.card-body {
  font-size: 14px;
  text-align: center;
}

.text-bg-whatsapp {
  color: #fff !important;
  background-color: #2cef65 !important;
}

.text-bg-discord {
  color: #fff !important;
  background-color: #5865F2 !important;
}

.card-header {
  width: 100%;
  text-align: center;
}

.cardHover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardHover:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
