/* Aplicar um estilo à área de pesquisa */
.form-control {
  background-color: #f2f2f2;
  border-color: #d9d9d9;
  border-radius: 25px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 10px center;
  height: 40px;
  width: 500px;
  margin: 0 auto;
  display: block;
}

/* Estilo para a lista de disciplinas */
.list-group {
  background-color: #f2f2f2;
  border-color: #d9d9d9;
}

/* Estilo para os itens da lista */
.list-group-item {
  background-color: #ffffff;
  border-color: #d9d9d9;
  box-shadow: 0px 0px 5px #d9d9d9;
  margin-bottom: 10px;
  list-style-type: none; /* Oculta os marcadores de lista */
}

/* Estilo para a área de paginação */
.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* Estilo para os botões da paginação */
.page-link {
  background-color: #f2f2f2;
  border-color: #d9d9d9;
  color: #212121;
  transition: all 0.2s ease-in-out;
}

/* Estilo para os botões ativos da paginação */
.page-item.active .page-link {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  color: #212121;
}

/* Melhoria nos botões de paginação */
.page-link:hover {
  background-color: #e0e0e0;
  color: #1976d2;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(25, 118, 210, 0.5);
}

/* Centralizar a tabela */
.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilos de Material Design */
.table {
  border-collapse: collapse;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 90%;
  margin: 0 auto;
}

.table th {
  background-color: #1976d2;
  color: #ffffff;
  font-weight: 500;
}

.table td {
  border: 1px solid #e0e0e0;
  padding: 12px;
}

.table td:first-child {
  font-weight: 500;
}

/* Estilos personalizados */
.table td.capacity {
  font-size: 14px;
  text-align: center;
}

.table td.actions {
  text-align: center;
}

.table td.actions button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in-out;
}

.table td.actions button:hover {
  background-color: #e0e0e0;
}

.table td.actions button i {
  color: #1976d2;
}

li {
  list-style: none; /* Oculta os marcadores de lista */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}
